:root {
  --primary-green: #3C5D47;
  --accent-blue: #1E2D3A;
  --warm-grey: #7A7A7A;
  --dark-charcoal: #2B2B2B;
  --muted-olive: #5E6D5A;
  --cool-slate: #495057;
  --cream-white: #EAE7DC;
  --golden-yellow: #a7965e;
}
